.jumbotron.jumbotron-fluid
    .container
        h1.display-4
            a(href='/') Google Api&apos;s
.nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    .navContainer
        ul
        a.navbar-brand(href='/')
        a.navbar-brand(href='/maps') Maps
        a.navbar-brand(href='/urlshortner') URL Shortener
        a.navbar-brand(href='/youtube') YouTube
    
    
