script.
  googleKey='#{googleKey}'
doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO' crossorigin='anonymous')
  link(href='https://fonts.googleapis.com/css?family=Comfortaa|PT+Sans+Narrow' rel='stylesheet')
  base(href='/')
  link(rel='stylesheet' type="text/css" href='/styles/stylesheet.css')
  title YouTube
include includes/header.pug
h1#url Let&apos;s find some videos!
.youTubeContainer
  input#userInput(type="text")
  button#submit(type="submit") Find
.videoContainer
  a(id="video0", href="")
    img.card-img-top0#card(src='?text=Image cap' alt='Card image cap')
  a(id="video1", href="")  
    img.card-img-top1#card(src='?text=Image cap' alt='Card image cap')
  a(id="video2", href="")
    img.card-img-top2#card(src='?text=Image cap' alt='Card image cap')
  a(id="video3", href="")
    img.card-img-top3#card(src='?text=Image cap' alt='Card image cap')
  a(id="video4", href="")
    img.card-img-top4#card(src='?text=Image cap' alt='Card image cap')
  a(id="video5", href="")
    img.card-img-top5#card(src='?text=Image cap' alt='Card image cap')
  a(id="video6", href="")
    img.card-img-top6#card(src='?text=Image cap' alt='Card image cap')
  a(#id="video7", href="")
    img.card-img-top7#card(src='?text=Image cap' alt='Card image cap')
  a(id="video8", href="")
    img.card-img-top8#card(src='?text=Image cap' alt='Card image cap')
  a(id="video9", href="")
    img.card-img-top9#card(src='?text=Image cap' alt='Card image cap')
script(src='https://code.jquery.com/jquery-3.3.1.js' integrity='sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js' integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49' crossorigin='anonymous')
script(src="/scripts/apiYouTubeScripts.js")
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js' integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy' crossorigin='anonymous')