body,
html {
    background-color: rgb(250, 242, 233);
    height: 100%;
}

.jumbotron {
    position: relative;
    text-align: center;
    background-color: rgba(155, 155, 155, 0.993);
    
    font-family: pt sans narrow;
    text-shadow: rgb(58, 57, 57) 0.3em 0.3em 0.3em;
    margin-bottom: 0px;
    height: 30%;
}
a{
    color: white;
}
.display-4 {
    
    margin-left: -30px;
    margin-top: -60px;
    border-bottom: 2px;
    position: relative;
    font-size: 80pt;
}

.lead {
    margin-top: -10px;
    font-size: 20pt;

}
.nav{
    position: relative;
    
}
.navContainer{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-right: 40px;
    text-decoration: underline
}
.welcome{
    display: block;
    position: relative;
    text-align: center;
    margin-top: 20px;
   
}
#welcome{
    display: block;
    font-family: fantasy;
    font-size: 60pt;
}
.mapContainer {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
}

#map {
    margin-top: 50px;
    border: 2px dashed black;
    height: 405px;
    width: 50%;
}
.urlContainer{
    display: flex;
    justify-content:center;
}
.youTubeContainer {
    display: flex;
    justify-content: center;
}
input{
    display: block;
    position: relative;
    width: 25%;
    margin-top: 20px;
}
button{
    display: flex;
    border-radius: 25%;
    background-color: silver;
    font-size: 15pt;
    margin-top: 22px;
    margin-left:20px;
    height: 30px;
    
}
#url{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: block;
    text-align: center;
    margin-top: 30px;
    cursor: not-allowed;
}
.videoContainer{
    display:none;
    margin-left: 70px;
    margin-top: 20px;
}
#card{
    border: double 4px black ;
    width: 30%;
    margin: 10px;

}
#yTsubmit:hover{
   background-color: lightgreen;
   cursor: pointer;
}
#urlButton, #urlInput:hover{
    background-color: lightgreen; 
    cursor: not-allowed;
}
